#full-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#etch-a-sketch-board {
    width: 18rem;
    height: 14.5rem;
    position: absolute;
    top: 20px;
    left: 90px;
    display: grid;
    border-style: solid;
}

#tv-image {
    position: absolute;
}

#relative-container {
    min-width: 600px;
    min-height: 400px;
    max-width: 600px;
    max-height: 400px;
    position: relative;
}

#settings-button {
    position: absolute;
    bottom: 20px;
    border-radius: 50%;
    padding-top: 5px;
    right: 70px;
    cursor: pointer;
    opacity: 0.7;
    width: 2rem;
    height: 2rem;
    transition-duration: 0.3s;
}

#settings-button:hover {
    transform: scale(1.2);
}

#settings-button:active {
    transform: scale(1.0);
}

#settings-container {
    flex-direction: column;
    position: absolute;
    right: 10px;
    bottom: 100px;
    background-color: lightskyblue;
    padding: 15px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: none;
}

#black-button, #rainbow-button {
    background: white;
    border-style: none;
    /*border-color: pink;*/
    font-weight: bold;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
    cursor: pointer;
}

#black-button {
    opacity: 0.8;
}

#black-button:hover, #rainbow-button:hover, #settings-button:hover {
    opacity: 1;
}

#rainbow-button {
    background: linear-gradient(red, blue);
    opacity: 1;
    color: white;
}

#grid-size-slider {
    margin-top: 8px;
    cursor: pointer;
}

#reset-button {
    position: absolute;
    bottom: 25px;
    left: 10px;
    background-color: lightskyblue;
    border-style: none;
    padding: 8px;
    border-radius: .5rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

#reset-button:hover {
    transform: scale(1.2);
}

#reset-button:active {
    transform: scale(1.0);
}